#!/usr/bin/env python3

import csv
import requests

# Constants

URL      = 'https://yld.me/raw/gXRW'
POINTS   = [6, 6, 7, 4, 5, 6, 6]
MAX      = None
SECTIONS = (
    'Commands',
    'Shell',
    'Files and Processes',
    'I/O Redirection',
    'Networking',
    'Shell Scripting',
    'Filters'
)

# Fetch data

# Compute individual scores

# Summarize score statistics

# Summarize section statistics
